@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    box-sizing: border-box;

    font-family: 'Poppins', sans-serif;
}

*:focus{
    outline: none;
}

a:hover{
    cursor: pointer;
}



/* top navbar styles */

.top-navbar{
    background-color: #808080;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 20px 20px 20px;
}

.top-navbar input{
    border-radius: 25px;
    width: 35%;
    height: 50px;
    border: solid 0px white;
    padding-left: 40px;
    font-size:large
}

.top-navbar input::placeholder{
    color: #989595
}

.top-navbar img{
    height: 40px;
    width: 40px;
    color: #fff;
    opacity:90%;
}

/* section of second navbar */

.second-navbar{
    background-color: rgb(224, 218, 44);
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 20px 0 20px;
}


.second-navbar li{
   margin-left: 50px;
    list-style:none;
    margin-top: 20px;
    margin-bottom:20px;
}

.second-navbar li:nth-of-type(1){
    margin-left: 0;
}

.second-navbar li a{
    text-decoration: none;
    color: black;
    
}

.second-navbar li a:hover{
    color: red;
}

/* <!-- section2 : carousel styles--> */
    
/* <!-- section 3 : features  styles--> */

.feature-box{
    display: flex;
    flex-direction: row;
    justify-content:center;
    flex-wrap: wrap;
    border: solid 2px #989595;
    border-left: none;
    border-right: none;
    
}



.feature-box .feature-element{
    display: block;
    margin-top: 30px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 30px;
    text-align: center;
}

.feature-box .feature-element img{
    height: 50px;
    width: 50px;
    margin-bottom: 20px;
}

.feature-box .feature-element img:hover{
    cursor: pointer;
}


/* <!-- section 4 : best seller styles --> */

/* <!-- section 5 new arrivals styles --> */

/* <!-- section 6 : sale section styles --> */

/* <!-- section 7 : bookset section styles --> */

/* <!-- section 8 : author carousel  styles --> */

/* <!-- section 9 : footer styles  -->  */